.DS_Store
assets/interface_default.xcf
assets/placeholder64.xcf
assets/temperature_icon.xcf
.gitignore
assets/humidity_icon.xcf
assets/fonts/Haskoy-Bold.otf
assets/fonts/Haskoy-BoldItalic.otf
assets/fonts/Haskoy-ExtraBold.otf
assets/fonts/Haskoy-ExtraBoldItalic.otf
assets/fonts/Haskoy-ExtraLight.otf
assets/fonts/Haskoy-ExtraLightItalic.otf
.gitignore
assets/fonts/Haskoy-Italic.otf
assets/fonts/Haskoy-Light.otf
assets/fonts/Haskoy-LightItalic.otf
assets/fonts/Haskoy-Medium.otf
assets/fonts/Haskoy-MediumItalic.otf
assets/fonts/Haskoy-Regular.otf
assets/fonts/Haskoy-SemiBold.otf
assets/fonts/Haskoy-SemiBoldItalic.otf
assets/fonts/Haskoy-Thin.otf
assets/fonts/Haskoy-ThinItalic.otf
assets/fonts/Sublima-ExtraBold.otf
assets/fonts/Sublima-Light.otf
assets/xcf/humidity_icon.xcf
assets/xcf/interface_default.xcf
assets/xcf/placeholder64.xcf
assets/xcf/temperature_icon.xcf
